{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
<ul>
<!-- <fieldset> -->
  <h1 id="title" style="color: red">\\ KU Polls //</h1>
  {% for question in latest_question_list %} {% if question.can_vote %}
  <p>
    
    <button id="button">
      <a id="button-text" href="{% url 'polls:detail' question.id %}"> Vote </a>
    </button>
    <button id="button">
      <a id="button-text" href="{% url 'polls:results' question.id %}">
        Result
      </a>
    </button>
    <a id="link" href="{% url 'polls:detail' question.id %}"
      >{{ question.question_text }}</a
    >
  </p>
  {% elif not question.can_vote %}
  <p>
    
    <button id="button">
      <a id="button-text" > Vote </a>
    </button>
    <button id="button">
      <a id="button-text" href="{% url 'polls:results' question.id %}">
        Result
      </a>
    </button>
    <a id= "link not use" 
    ><a style="color: white">{{ question.question_text }}</a>
  </p>
  {% endif %} {% endfor %}
  
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
